{% extends "layout.html" %}

{%block body%}
            <div class="innner_Content">
                <h4>Choose a Image</h4><br><hr>
                <form method="post" action="" enctype="multipart/form-data">
                <input type="file" name="image" id="SelectFileId" accept="image/*">
                <input type="submit" value="Upload" id="upload_Image" class="float-right">
                </form>

                <br><br>

                <img src="" id="imagePlacedID">
                
            </div>
        </div>
    </section>

{%endblock%}
   