{% extends "layout.html" %}

{%block body%}
<div class="innner_Content">
<h4>Login with Google</h4>
<div class="col s12 m6 offset-m3 center-align" style="position: relative;">
   
    <a class="oauth-container btn darken-4 white black-text" href="login" style="text-transform:none;position:absolute;top:85px;left:40%;">
        <div class="left">
            <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        </div>
        Login with Google
    </a>
</div>
</div>
{%endblock%}